:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.btn {
  /* added pos - cause btn will allign wrt to main*/
  position: absolute;
  width: 8.7rem;
  height: 1.9rem;
  font-size: 0.85rem;
  background: var(--clr-black);
  color: #fff;
  text-transform: uppercase;
  border: 1px solid var(--clr-black);
  border-radius: var(--radius);
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.sidebar-toggle {
  position: fixed;
  top: 2rem;
  left: 3rem;
  color: var(--clr-primary-5);
  border: none;
  font-size: 1.5rem;
  background: transparent;
  /*   transition: <property> <duration> <timing-function> <delay>; */
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* modal */

.modal {
  /* added pos top left, z-index to stop the side bar button being clicled */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: grid; one more way to place an item at center of  screen by grid
  place-items: center; */
  background: rgba(0, 0, 0, 0.5);
  /* added */
  visibility: hidden;
  transition: var(--transition);
  z-index: -1;
}
/* added  z index- for the model to be on top when both sidebar and modal are open we
can access the sidebar closebutton*/
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  display: grid;
  place-items: center;
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  border: none;
  font-size: 2.5rem;
  background-color: transparent;
  color: var(--clr-red-dark);
  width: 2rem;
  cursor: pointer;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
/* sidebar */
.sidebar {
  /* added pos top left */
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--clr-white);
  /* transition: <property> <duration> <timing-function> <delay>; */
  transition: var(--transition);
  transform: translate(-100%);
}
/* added */
.show-sidebar {
  transform: translate(0);
}
.sidebar-header {
  position: relative;
  margin-bottom: 2rem;
}
.sidebar-header img {
  height: 40px;
  margin: 1rem 0 0 1.2rem;
}

/* ul links */

.links a {
  color: var(--clr-grey-4);
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  transition: var(--transition);
  display: block;
}
.links a:hover {
  background-color: var(--clr-grey-10);
  color: var(--clr-grey-2);
}
i {
  margin-right: 1rem;
}

/* social icons */
.social-icons {
  position: absolute;
  bottom: 2rem;
  left: 6rem;
}
.social-icons li {
  display: inline;
}
.social-icons a {
  color: var(--clr-primary-5);
  font-size: 1.5rem;
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
